<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.lifeshardv3">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="29">
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".expensivevacay" />
        <activity android:name=".decentvacay" />
        <activity android:name=".cheapvacay" />
        <activity android:name=".shouldvacay1" />
        <activity android:name=".mexicanfood" />
        <activity android:name=".americancontemp" />
        <activity android:name=".italianfood" />
        <activity android:name=".chinesefood" />
        <activity android:name=".fastfood" />
        <activity android:name=".scifitvseries" />
        <activity android:name=".dramatvseries" />
        <activity android:name=".docutvseries" />
        <activity android:name=".comedytvseries" />
        <activity android:name=".shouldeat1" />
        <activity android:name=".netflixtvseries" />
        <activity android:name=".actiontvseries" />
        <activity android:name=".horrormovies" />
        <activity android:name=".dramamovies" />
        <activity android:name=".documentaries" />
        <activity android:name=".comedymovies" />
        <activity android:name=".tvseries2" />
        <activity android:name=".actionmovies" />
        <activity android:name=".netflix2" />
        <activity android:name=".netflixmovie" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>